@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full w-full;
}

img {
	max-width: unset !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.shadow-close {
	background: linear-gradient(145deg, #ffffff, #e6e6e6);
	box-shadow: 10px 10px 20px #c4c4c4, -10px -10px 20px #ffffff;
}
